[submodule "Libraries/glfw"]
	path = Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Libraries/stb"]
	path = Libraries/stb
	url = https://github.com/nothings/stb
[submodule "Libraries/glew"]
	path = Libraries/glew
	url = https://github.com/nigels-com/glew
[submodule "Libraries/tinyobjloader"]
	path = Libraries/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
